:root {
  --main-title-color: #ffffff;
  --main-color: #2e2f42;
  --main-gray: #434455;
  --blu: #4d5ae5;
  --d-blu: #404bbf;
  --l-gray: #f4f4fd;
  --ll-gray: #e7e9fc;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*-----------------------HEDER----------------------*/
.page-header-conteiner {
  display: flex;
  align-items: center;
}
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}
.header-nav,
.header-portfolio-nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
.header-item:not(:last-child),
.header-item-address:not(:last-child) {
  margin-right: 40px;
}
.header-address-link,
.header-portfolio-link,
.address {
  margin-left: auto;
}

.logo {
  margin-right: 76px;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blu);
}
.header-portfolio-link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blu);
}
.header-logo-color {
  color: var(--main-color);
}
.header-portfolio-part-logo {
  color: var(--main-color);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--d-blu);
}
.header-link:focus,
.header-link:hover {
  color: var(--d-blu);
}

.header-portfolio-link-first:hover,
.header-portfolio-link-first:focus {
  color: var(--d-blu);
}
.header-portfolio-link:hover,
.header-portfolio-link:focus {
  color: var(--d-blu);
}

.header-link,
.modal-btn,
.header-item,
.header-address-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.header-portfolio-link,
.header-portfolio-address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-gray);
}
.header-portfolio-link-first {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.header-address-link {
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0.02em;
  color: var(--main-gray);
}

.pay-text,
.servis-text,
.food-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-gray);
  letter-spacing: 0.02em;
}
/*-----------------------FIRST SECTION----------------------*/
.first-btn {
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  margin-top: 48px;
  margin: auto;
  border-radius: 4px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  background-color: var(--blu);
  color: var(--main-title-color);
}
.first-btn:hover {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: var(--d-blu);
}

.first-btn:focus {
  background-color: var(--d-blu);
  cursor: pointer;
}
.btn-div {
}
.btn-item {
}
.btn-list {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
}

.modal-btn {
  color: var(--blu);
  background: #f4f4fd;
  letter-spacing: 0.04em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-right: 24px;
  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  color: var(--main-title-color);
  background: var(--d-blu);
}
.first-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin: auto;
  width: 496px;
  min-height: 120px;
  margin-bottom: 48px;
}
.first {
  padding: 188px 0;
  background-color: #2e2f42;
}
/*-----------------------QUAISTY----------------------*/
.quaisty {
  padding-top: 120px;
}
.quaisty-list {
  display: flex;
}
.quaisty-item:not(:last-child) {
  margin-right: 24px;
  min-width: 264px;
}

.quaisty-uptext,
.pay-uptext,
.servis-uptext,
.food-uptext {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
  background-color: var(--main-title-color);
}
.quaisty-uptext {
  margin-bottom: 8px;
}
.quaisty-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-gray);
}
.photo-color {
  color: var(--main-title-color);
}
/*-----------------------PAGE----------------------*/
.page1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 72px;
}
.page {
  padding-top: 120px;
  padding-bottom: 133px;
}
.servis-item {
  flex-basis: calc((100% - 48px) / 3);
}
.pay-uptext {
  margin-bottom: 8px;
}
.pay-div {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  background: #ffffff;
  border: 1px solid #e7e9fc;
}
.pay-div:nth-child(3n) {
  margin-right: 24px;
}
.page-list,
.pay-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.page-phone {
}
.page-photo {
}
.photo {
  background-color: var(--l-gray);
  padding-top: 120px;
  padding-bottom: 133px;
}
.photo-team.color {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
  background-color: var(--l-gray);
  text-align: center;
  margin-bottom: 72px;
}
.photo-list {
  background-color: var(--main-title-color);
  display: flex;

  flex-wrap: wrap;

  justify-content: space-between;
  background-color: var(--l-gray);
}
.list {
}
.photo-human {
}

.photo-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-gray);
  background-color: var(--main-title-color);
}
.logo-footer {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blu);
  margin-bottom: 16px;
}
.portfolio-logo-footer {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  text-transform: uppercase;
  color: var(--blu);
}

.portfolio-logo-footer-studio {
  color: var(--l-gray);
}
.logo-footer-studio {
  color: var(--l-gray);
}
.footer-text,
.portfolio-footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--ll-gray);
  width: 264px;
}
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.footer-portfolio {
  background-color: var(--main-color);
  padding: 100px 0;
}
.footer-container {
  display: flex;
  align-items: center;
}
.footer {
  background-color: var(--main-color);
  padding: 100px 0;
}

.photo-team {
  background-color: var(--main-title-color);
}
.photo-color {
  background-color: var(--main-title-color);
  flex-basis: calc((100% - 72px) / 4);
}
.photo-human-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;

  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  padding: 32px 16px 32px 16px;
}
